.pluginContainer {
    overflow-y: scroll;
}

.pluginContainer>* {
    padding: 1%;
    border-top: 1px #1b1b1b solid;
}

.pluginContainer>*:last-child {
    border-bottom: 1px #1b1b1b solid;
}

.pluginInstallList {
    overflow: auto;
}

.pluginInstallList>* {
    margin: 2%;
}

.pluginInstallControlsField {
    padding: 2%;
}

.plugin-title {
    display: inline-block;
    font-size: 120%;
    margin-right: 1%;
}

.plugin-authors {
    display: inline-block;
    color: gray;
    margin-right: 1%;
}

.plugin-state {
    display: inline-block;
}

.plugin-state.true {
    color: rgb(61, 255, 61);
}

.plugin-state.false {
    color: rgb(255, 62, 62);
}

.plugin-toggle {
    margin-right: 1%;
}

.plugin-version {
    width: 100%;
    font-size: 80%;
}

.plugin-description {
    margin-top: 1%;
    color: goldenrod;
}

.plugin-website {
    margin-top: 1%;
    font-size: 80%;
    color: rgb(44, 160, 255);
    display: block;
}

.material-icons-outlined {
    vertical-align: middle;
}

.swal2-html-container {
    text-align: left;
}