.filescontent {
    height: 100%;
    overflow-y: scroll;
}

.swal-fileviewc {
    height: 80vh !important;
    width: 80vw !important;
    text-align: left !important;
}

.swal-fileviewc>*.swal2-html-container {
    text-align: left !important;
    background-color: var(--lt-color-background-dark);
    border-radius: 15px;
    height: 60vh;
    position: relative;
}

.fileView_Content {
    text-align: left;
    padding: 1%;
    background-color: transparent;
    white-space: pre;
    position: absolute;
    width: 100%;
}

@keyframes SCROLL_IN {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes SCROLL_OUT {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translateY(100vh);
    }
}

@keyframes FADE_IN {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}