.userEntry {
    width: 100%;
}

.userEntry img {
    width: 32px !important;
    height: 32px !important;
}

.userEntry .tag {
    display: inline-block;
    width: fit-content;
}

.userEntry .column {
    position: relative;
    height: 50px;
}

.userEntry .column>* {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}