.worldlist_entry>*.tile>* {
    align-self: center;
}

.worldlist_entry>*>.tile>*:first-child {
    max-height: 64px;
}

.worldlist_entry>*>.tile>*>*.title {
    font-size: 80%;
}

.player+.player {
    padding-top: 2%;
}

.player>.head {
    width: 64px;
    height: 64px;
    display: inline-block;
}

.player>.details {
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
}

.player>.details>*:nth-child(1) {
    font-size: 120%;
    color: rgb(80, 255, 153);
}

.player>.details>*:nth-child(2) {
    color: rgb(57, 176, 255);
}