.ANSI_BLACK {
    color: white;
}

.ANSI_DARK_BLUE {
    color: rgb(0, 0, 170);
}

.ANSI_DARK_GREEN {
    color: rgb(0, 170, 0);
}

.ANSI_DARK_AQUA {
    color: rgb(0, 170, 170);
}

.ANSI_DARK_RED {
    color: rgb(170, 0, 0);
}

.ANSI_DARK_PURPLE {
    color: rgb(170, 0, 170);
}

.ANSI_GOLD {
    color: rgb(255, 170, 0);
}

.ANSI_GRAY {
    color: rgb(170, 170, 170);
}

.ANSI_DARK_GRAY {
    color: rgb(85, 85, 85);
}

.ANSI_BLUE {
    color: rgb(85, 85, 255);
}

.ANSI_GREEN {
    color: rgb(85, 255, 85);
}

.ANSI_AQUA {
    color: rgb(85, 255, 255);
}

.ANSI_RED {
    color: rgb(255, 85, 85);
}

.ANSI_LIGHT_PURPLE {
    color: rgb(255, 85, 255):
}

.ANSI_YELLOW {
    color: rgb(255, 255, 85);
}

.ANSI_WHITE {
    color: black;
}

.ANSI_TEXT {
    display: inline-block;
    white-space: pre;
}