.hiddenFontHeighter {
    opacity: 0;
}

.menuLayerContainer {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.menuLayer {
    position: absolute;
    background-color: #ebebeb;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    animation: slide_in_left 0.5s;
}

.menuLayer.disappear {
    animation: slide_out_right 0.5s;
    margin-left: 100vw;
}

.menuLayer>*.navigation {
    position: relative;
    width: 100%;
    padding: 1vh 2vw;
    color: rgb(25 131 255);
    font-weight: 600;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

.menuLayer>*.navigation>* {
    top: 50%;
    transform: translate(0, -50%);
}

.menuLayer>*.navigation>*.path {
    position: absolute;
    left: 2%;
}

.menuLayer>*.navigation>*.buttons {
    position: absolute;
    right: 2%;
}

.menuLayer>*.navigation>*.buttons.disabled {
    color: rgba(92, 92, 92, 0.301);
}

.menuLayer>*.content {
    position: relative;
    padding: 1%;
    color: #67747e;
    word-break: break-all;
    overflow: scroll;
}

.menuLayer>*.content *.disabled {
    color: rgba(92, 92, 92, 0.301) !important;
}

.menuLayer>*.content *.disabled * {
    color: rgba(92, 92, 92, 0.301) !important;
}

.menuLayer>*.ctitle {
    padding: 1%;
    font-size: 200%;
    color: #293035;
}

@keyframes slide_in_left {
    from {
        margin-left: 100vw;
    }
    to {
        margin-left: 0vw;
    }
}

@keyframes slide_out_right {
    from {
        margin-left: 0vw;
    }
    to {
        margin-left: 100vw;
    }
}